apiVersion: v1
kind: ServiceAccount
metadata:
  name: dwhtrans-catalog-serviceaccount
  labels:
    app.kubernetes.io/name: dwhtrans-catalog
    app.kubernetes.io/part-of: dwhtrans-catalog
    app.kubernetes.io/component: metastore
    exp.openshift.io/area: hive-catalog
